* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	background-color: #f9fafa;
}

.roboto-regular {
	font-family: 'Roboto', serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-bold {
	font-family: 'Roboto', serif;
	font-weight: 700;
	font-style: normal;
}

.container {
	max-width: 700px;
	margin: 0 auto;
	height: calc(100vh + 350px);
}

.header {
	margin-top: 50px;
	margin-bottom: 20px;
}

.header__title {
	font-size: 28px;
	color: #404040;
	margin-bottom: 20px;
}

.header__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__subtitle {
	font-size: 18px;
	color: #404040;
}

.header__count {
	color: #404040;
	font-size: 14px;
}

.casino-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.casino-card {
	background: #ffffff;
	border-radius: 8px;
	padding: 20px;
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	align-items: center;

	box-shadow: 0px 1px 6px #00000029;
}

.casino-card__logo {
	width: 70px;
	height: 46.29px;
	flex-shrink: 0;
}

.casino-card__logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.casino-card__main {
	display: flex;
	flex-direction: column;
	width: 233px;
	margin-left: 15px;
}

.casino-card__badge {
	margin-bottom: 5px;
}
.casino-card__badge__item {
	font-size: 11px;
	font-weight: 500;
	color: #68cb6c;
	background: #ffffff;
	border: 1px solid #0000001e;
	padding: 2px 6px;
	border-radius: 4px;
}

.casino-card__title {
	color: #429bf4;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 6px;
}

.casino-card__rating {
	display: flex;
	align-items: center;

	color: #8f8f8f;
	font-size: 12px;
}

.casino-card__rating span {
	margin: 0 5px 0 8px;
}

.casino-card__flag {
	width: 20px;
	height: 14px;
	object-fit: contain;
	border-radius: 3px;
}

.casino-card__stars {
	display: flex;
	align-items: center;
}

.casino-card__stars .star {
	width: 10px;
	height: 10px;
	margin-right: 5px;
}

.casino-card__stars .star:last-child {
	margin-right: 0;
}

.casino-card__bonus {
	width: 239px;
	text-align: left;
	margin-right: 16px;
}

.casino-card__spins {
	position: relative;
	padding: 4px 20px;
	width: max-content;
	color: #5e6166;
	font-size: 13px;
	cursor: pointer;
	margin-bottom: 8px;
	background-color: #f3f3f3;
	border-radius: 20px;
}

.casino-card__spins:hover {
	background-color: #daecfe;
}

.casino-card__deposit {
	color: #5e6166;
	padding: 4px 20px;
	background-color: #f3f3f3;
	border-radius: 13px;
	width: max-content;

	font-size: 13px;
}

.casino-card__visit {
	text-align: center;
	background: #429bf4;
	color: white;
	border: none;
	padding: 8px 20px;
	border-radius: 4px;
	font-size: 11px;
	cursor: pointer;
	letter-spacing: 0.55px;

	transition: background-color 0.2s;
}

.casino-card__visit:hover {
	background-color: #0052a3;
}

.load-more {
	width: 100%;
	padding: 12px;
	background: #fff;
	color: #429bf4;
	border: 1px solid #429bf4;
	border-radius: 23px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 15px;
	transition: background-color 0.2s;
}

.load-more:hover {
	background-color: #429bf4;
	color: #fff;
}

.popup {
	display: none;
	position: absolute;
	top: 8px;
	left: -90px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	pointer-events: none;
}

.popup__content {
	position: absolute;
	background: white;
	padding: 15px 20px;
	border-radius: 8px;
	width: 300px;
	box-shadow: 0px 1px 6px #00000029;
	pointer-events: auto;
}

.popup__content::before {
	content: '';
	position: absolute;
	top: -6px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
}

.popup__close {
	position: absolute;
	right: 10px;
	top: 8px;

	background: none;
	border: none;
	cursor: pointer;
	color: #8f8f8f;
	padding: 4px;
	line-height: 1;
}

.popup__title {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 16px;
	padding-right: 24px;
	color: #404040;
}

.popup__welcome {
	border: 2px dashed #8f8f8f;
	padding: 12px;

	text-align: center;
	margin-bottom: 16px;
	color: #5e6166;
	font-size: 12px;
	font-weight: 700;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.popup__welcome:hover {
	background-color: #f9fafb;
}

.popup__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
	font-size: 14px;
}

.popup__row:last-child {
	margin-bottom: 0px;
}

.popup__label {
	color: #666;
}

.popup__value {
	color: #333;
	text-align: left;
	width: 50%;
}

.popup__value--green {
	color: #68cb6c;
}

.toast {
	display: none;
	position: absolute;
	background-color: white;
	padding: 13px 28px;
	border-radius: 6px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	z-index: 2000;
	align-items: center;
	gap: 6px;
	width: 227px;
}

.toast::after {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;

	border-radius: 2px;
}

.toast--visible {
	display: flex;
}

.toast__icon {
	color: #22c55e;
	width: 16px;
	height: 12px;
}

.toast__message {
	color: #5e6166;
	font-size: 13px;
}

.toast__close {
	background: none;
	border: none;
	color: #666;
	cursor: pointer;
	padding: 4px;
	margin-left: 8px;
	font-size: 18px;
	line-height: 1;
}

.toast__close:hover {
	color: #333;
}

@media (max-width: 768px) {
	.casino-card {
		grid-template-columns: 1fr;
		gap: 16px;
	}
	.casino-card__main {
		margin-left: 0;
	}

	.container {
		margin-left: 20px;
		margin-right: 20px;
	}

	.casino-card__bonus {
		width: 100%;
		text-align: left;
	}

	.popup {
		left: 0;
	}

	.popup__content::before {
		left: 20%;
	}
}

@media (max-width: 375px) {
	.popup {
		width: calc(100% - 40px);
	}
	.popup__content {
		width: calc(100% - 40px);
	}

	.toast {
		left: 20% !important;
	}
}

@media (max-width: 320px) {
	.toast {
		left: 14% !important;
	}
}
